<div class="grid sm:grid-cols-12 gap-4">
  <div class="md:col-span-6 w-full p-6 bg-white rounded-lg shadow-md text-sm border-1">
    <h2 class="font-bold mb-2">Datos del Usuario (No autentificatic)</h2>
    <ng-container *ngIf="user">
      <p><strong>Usuario:</strong> {{ user.username }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>

      <ng-container *ngIf="user.funcionario">
        <p><strong>RUT:</strong> {{ user.funcionario.rut }}</p>
        <p><strong>Nombre:</strong> {{ user.funcionario.nombre }}</p>
        <p><strong>Grado:</strong> {{ user.funcionario.grado_id }}</p>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!user">
      <p>No se ha cargado información del usuario.</p>
    </ng-container>
  </div>

  <div class="md:col-span-6 w-full p-6 bg-white rounded-lg shadow-md text-sm border-1">
    2
  </div>
</div>

<div class="mt-4 w-full p-6 bg-white rounded-lg shadow-md text-sm border-1">
  3
</div>
